.section {
  display: none;
  position: relative;
  /* margin-top: 5em; */
  width: 100%;
  height: 30vh;
}
.sectionMobile {
  display: block;
  position: relative;
  /* margin-top: 5em; */
  width: 100%;
  height: 30vh;
}

.imgContainer {
  /* height: 50vh; */
  width: 100%;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.absolute {
  width: 90%;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  margin: auto;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  /* background-color: orange; */
}

.absolute h3 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  font-size: 18px;
  color: red;
  /* background-color: red; */
}

.absolute h4 {
  margin: 0;
  /* background-color: rebeccapurple; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-size: 10px;
  color: black;
  font-weight: 500;
}

.absolute .inputCont {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.4em 0;
  background-color: #ffffffa4;
  border: 1px solid #6e6e6e;
}

.icon {
  padding-left: 1em;
}

input:focus,
input:active {
  outline: none;
  /* Elimina el contorno al recibir foco */
  /* Añade otros estilos personalizados para el input cuando es clickeado */
}

.inputCont input {
  border: none;
  padding-bottom: 2%;
  padding: 1.5em 0 1.5em 1em;
  padding: 0;
  padding-left: 1em;
  width: 100%;
  background-color: #ffffff00;
}

.inputCont input::placeholder {
  border: none;
  font-size: 21px;
  font-size: 8px;
}

.absolute span {
  color: #fff;
  font-size: 18px;
  font-size: 8px;
  font-family: sans-serif;
}

.absolute button {
  border: none;
  background-color: #0c4c6b;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.6em 0;
  font-size: 12px;
  font-weight: bold;
  width: 30%;
  cursor: pointer;
}

.search {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.5em;
  /* background-color: orange; */
  height: 80%
}

.tituloCont {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonCont {
  width:100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
.buttonCont button {
  width: 40%;
  padding: 0.6em 1em;
  cursor: pointer;

}

@media (min-width: 768px) {
  .sectionMobile {
    display:none;
  }
  .section {
    display:block;
    height: 50vh;
  }

  .absolute {
    width: 80%;
  }

  .absolute h3 {
    font-size: 32px;

  }

  .absolute h4 {
    font-size: 32px;
  }

  .absolute span {
    font-size: 18px;
  }

  .absolute button {
    font-size: 0.632rem;
    font-size: 24px;

  }
  .search {
    /* padding-top: 5em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    /* align-self: center; */
    /* height: 100% */
    /* background-color: green; */
  }
  
  .inputCont input {
    padding: 1.5em 0 1.5em 1em;
    border: none;
    width: 100%;
  }

  .inputCont input::placeholder {
    border: none;
    font-size: 21px;
  }

  .icon {
    padding-left: 0.3em;
    font-size: 3em;
  }
  .buttonCont {
    width:100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: yellow; */
  }
  .centerContainer {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    /* background-color: blue; */

  }
}