.section {
  background-color: #edf0f2;
  padding-top: 1em;
  /* display: flex; */
  /* align-items: center;
    justify-content: center;  */
}

.textCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorias {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.625rem;
  /* padding-left: 12px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  gap: 1em;
}

.categorias span {
  cursor: pointer;
}

.motoresContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.borde {
  width: 90%;
  margin: 0;
  padding: 0;
  /* border: 5px solid #fff; */
  border: 12px solid #edf0f2;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.imgContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 30%;
}

.imgContainer img {
  object-fit: cover;
  width: 60%;
}

.MotoresInfo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2em;
  padding: 0.2em 0;
}

.MotoresInfo h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.3125rem;
  margin: 0;
  padding: 0;

}

.MotoresInfo span {
  font-size: 0.5rem;
  text-align: start;
}

.MotoresInfo button {
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #df0404;
  border: none;
  color: #fff;
  /* padding: 0.7em 0; */
  width: 89px;
  height: 25px;
  /* margin-top: 1em; */
}

.informacionCont {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  width: 100%;
}

.informacion {
  width: 90%;
  padding: 0 0 1em 0;

}

.informacion h3 {
  padding: 0.5em 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #df0404;
  font-size: 1.3125rem;
  /* margin: 0; */
}

.informacion h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: bold;
}

.informacion ul {
  font-weight: 500;
  font-size: 0.625rem;

  margin: 0;
  padding: 0.5em 0;
}

.informacion ul li {
  margin: 0.2em 0;
  /* background-color: red; */
  padding: 0;
  list-style: none;
}

.informacion p {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: bold;
}

.informacion span {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: bold;
  color: #df0404;
}
.mobile {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 95%;
}
.web {
  display: none;
}

@media (min-width: 768px) {
  .section {
    padding-top: 0;
  }

  .mobile {
    display: none;
  }

  .web {
    display: flex;
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .textCont {
    padding-bottom: 2em;
  }

  .motoresContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
  }

  .componentCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container {
    width: 100%;
    /* display: flex; */
  }

  .test {
    padding: 0;
    height: 100%;

  }

  .borde {
    border: none;
    /* gap: 2em; */
    height: 25vh;
    padding: 2em 0;
  }

  .categorias {
    gap: 5em;
  }

  .categorias span {
    font-size: 24px;
    font-weight: bold;
  }

  .MotoresInfo {
    justify-content: space-around;
    gap: 0;
    height: 100%;
    padding-left: 1em;
  }

  .MotoresInfo h4 {
    font-size: 32px;
    font-weight: bold;
  }

  .MotoresInfo span {
    font-size: 18px;
    padding: 0;
    text-align: start;
    line-height: 1.2;
  }

  .MotoresInfo button {
    font-size: 24px;
    width: 60%;
    margin-top: 0;
    padding: 0;
    padding: 0.2em 0;
    height: 58px;
    cursor: pointer;
  }

  .imgContainer {
    height: 100%;
    width: 50%;
  }

  .imgContainer img {
    width: 100%;
  }

  .informacion h3 {
    padding: 0.5em 0;
    font-size: 52px;
    /* margin: 0; */
    margin-bottom: 0.2em;
  }

  .informacion h4 {
    padding: 0;
    font-size: 32px;

  }

  .informacion ul li {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
  }

  .informacion p {
    font-size: 25px;
  }

  .informacion span {
    font-size: 25px;
  }
}