.selectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sliderContainer {
    width: 100%;
    height: 100%;
    background-color: #EDF0F2;
  }

  .fondoText {
    font-size: 8px;
    text-align: center;
    width: 90px;
    height: 30.34px;
    padding: 1em 0;
  }

  .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    width: 90%;
    height: 100%;
    color: #0c4c6b;
  }
  .noSlider {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .selectContainerWeb {
    display: none;
  }
  @media (min-width: 768px) {
    .selectContainer {
      display: none;
  }
  .selectContainerWeb {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  }