.card {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(221, 110, 29);
    width: 100%;
    padding-top: 1rem;
    cursor: pointer;
    /* background-color: green; */
    /* overflow-x:hidden */

}

.card h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    /* background-color: blue; */
}

.infoCont {
    min-width: 70%;
    /* background-color: red; */
}

.info {
    font-size: 10px;
    /* padding-left: 0.5em; */
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1rem;
    width: 100%;

}


.camioneta {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%;
    /* background-color: blue; */

}

.camioneta img {
    /* background-color: red; */
    width: 100%;
}

@media (min-width: 768px) {

    .card {
        width: 100%;
        font-size: .8rem;
    }

    .camioneta img {
        width: 120px;
    }
}